fastapi>=0.111
uvicorn[standard]>=0.30
transformers==4.56.2
huggingface_hub[cli]>=0.23,<0.27
accelerate>=0.30
safetensors>=0.4.3
sentencepiece>=0.1.99
Pillow>=10.2.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1
torchvision==0.18.1
